html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  background-image: url("https://github.com/Kageetai/mario-background-parallax/blob/master/img/mario.gif?raw=true"), url("https://github.com/Kageetai/mario-background-parallax/blob/master/img/ground.png?raw=true"), url("https://github.com/Kageetai/mario-background-parallax/blob/master/img/bushes.png?raw=true"), url("https://raw.githubusercontent.com/Kageetai/mario-background-parallax/master/img/back.png?raw=true");
  background-color: #F8E0B0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 22px, left 0px bottom 0px, left 0px bottom 22px, left 0px bottom 0px;
  animation: back 15s infinite linear;
}

@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left 0px bottom 0px, left 0px bottom 22px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 22px, left -816px bottom 0px, left -508px bottom 22px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 22px, left -1632px bottom 0px, left -1016px bottom 22px, left -512px bottom 0px;
  }
}

#btn{
  width: 209px;
  transition: all .2s;
  position: absolute;
  top: 50%;
  left: 40%;
  padding:0.6em;
  font:120% bold;
  background:
  radial-gradient(farthest-side circle at 100% 74%,#c7593d 24%,#c7593d00 25%) 0px 0px/44px 44px
  ,radial-gradient(closest-side circle at 50% 23%,#c7593d 99%,#c7593d00 100%) 0px 0px/44px 44px
  ,linear-gradient(90deg,#c7593d00 20px,#cccccc 21px 22px) 0px 0px/22px 22px
  ,linear-gradient(#c7593d 20px,#cccccc 21px 22px) 0px 0px/22px 22px;
}

#btn:hover{
  transform: scale(1.1, 1.1);
}

#start {
  color: black;
  display: block;
  text-align: center;
}

#title {
  text-align: center;
}

h1 {
  line-height: 60px;
  position: relative;
  height: 60px;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  background: #fa4141;
}

h1:before,
h1:after {
  position: absolute;
  top: 0;
  display: block;
  height: 48px;
  content: '';
  border: 30px solid #fa4141;
}

h1:before {
  left: -40px;
  border-left-width: 15px;
  border-left-color: transparent;
}

h1:after {
  right: -40px;
  border-right-width: 15px;
  border-right-color: transparent;
}
