div#i {
  z-index: 3;
  text-align: center;
}

div#btn {
  z-index: 3;
  text-align: center;
}

table{
  position: relative;
  z-index: 3;
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

table th,table td{
  z-index: 3;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  z-index: 3;
  background-color: #c79852;
  color: white;
  border:solid 1px #927141;
}

table td{
  z-index: 3;
  background-color: #e4d4bc;
  border:solid 1px #af9d85;
}


.button_solid017 button {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #543618;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #eeee;
  border-radius: 50px;
  border: 0.2rem solid #543618;
  box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.button_solid017 button:hover {
  z-index: 3;
transform: translate3d(0.2rem, 0.2rem, 0);
box-shadow: none;
opacity: 1;
transition: all 0.2s;
}
.button_solid017 button:after {
  z-index: 3;
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #543618;
  border-right: 3px solid #543618;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}

.home {
  z-index: 3;
  top: 40%;
  transition: all .2s;
  position: absolute;
  padding:0.6em;
  font:120% bold;
  background:
  radial-gradient(farthest-side circle at 100% 74%,#c7593d 24%,#c7593d00 25%) 0px 0px/44px 44px
  ,radial-gradient(closest-side circle at 50% 23%,#c7593d 99%,#c7593d00 100%) 0px 0px/44px 44px
  ,linear-gradient(90deg,#c7593d00 20px,#cccccc 21px 22px) 0px 0px/22px 22px
  ,linear-gradient(#c7593d 20px,#cccccc 21px 22px) 0px 0px/22px 22px;
}

.home:hover{
  transform: scale(1.1, 1.1);
  z-index: 3;
}


#idhome {
  font-size: 15px;
  color: black;
  display: block;
  text-align: center;
  z-index: 3;
}

body{
  margin:0;
  padding:0;
  background:#63D0FF;
  height:100%;
  z-index: 1;
}

#clouds{
  background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/bg-clouds2-tinypng.png") repeat-x 0 bottom #ACE6FF;
  width:100%;
  height:230px; /*190px*/
  min-height:230px;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  -webkit-transform:translate3d(0,0,0.01);
  transform:translate3d(0,0,0.01);
}

#ground {
  background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/56901/grass_tile-tinypng.png") repeat-x 0 0 transparent;    
  position: absolute;
  bottom: 0;
  left: 0;
  z-index:2;
  width: 100%;
  height: 192px;
  min-height:192px;
  border:0 none transparent;
  outline:0 none transparent;
  -webkit-transform:translate3d(0,0,0.01);
  transform:translate3d(0,0,0.01);
  will-change: transform;
}